QWidget {
    background-color: #eceff4;
    color: #001f2a
}

/* Card */
QFrame {
    border: 0px solid;
    border-radius: 12px;
    background-color: #d8dee9
}

QLabel {
    background-color: #d8dee9;
    color: #001f2a
}